@import '../../config.scss';

.titleGroup {
  max-width: 100rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid primaryColorLight;
  line-height: 0.1rem;
  margin: 3rem auto;

  h1 {
    text-transform: uppercase;
    text-align: center;
    margin-right: 1rem;
  }

  .seeMore {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 3rem;
      height: 3rem;
      color: secondaryColor;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: secondaryColorDark;
      }
    }
  }
}

.preview {
  margin: 3rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-gap: 5rem;

  @include respond(tab-port) {
    grid-gap: 2rem;
  }

  @include respond(phone) {
    grid-template-columns: repeat(auto-fit, 22rem);
    grid-gap: 3rem;
  }
}
