@import '../../config.scss';

.summaryBox {
  border: solid 2px primaryColor;
  width: 30rem;
  font-size: 1.3rem;
  margin-top: 2rem;

  @include respond(phone) {
    width: 85vw;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  .header {
    background-color: primaryColorDark;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-left: 1rem;
      color: white;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
      fill: white;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        fill: secondaryColorDark;
      }
    }
  }

  .cartItems {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .footer {
    padding: 0 1rem 1rem 1rem;
    background-color: secondaryBackgroundLight;

    div,
    h3 {
      display: flex;
      justify-content: space-between;
    }

    div {
      margin: 0.5rem 0;
    }

    h3 {
      border-bottom: solid 1.5px primaryColor;
      padding: 1rem 0;
      margin: 0;

      &:last-of-type {
        border-top: solid 1.5px primaryColor;
      }
    }
  }
}
