@import '../../config.scss';

.productPage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  .productInfo {
    width: 80%;
    max-width: 100rem;
    margin: 6rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

    @include respond(phone) {
      width: 90%;
    }

    .left {
      @include respond(phone) {
        margin: 5rem auto 0;
      }

      img {
        width: 30rem;
        height: 30rem;
        object-fit: cover;
        margin: 1rem auto;

        @include respond(phone) {
          width: 75vw;
          height: 75vw;
        }
      }
    }

    .right {
      width: 50%;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond(phone) {
        width: 80%;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2.2rem;
        font-weight: 600;
        color: primaryColorDark;

        @include respond(phone) {
          position: absolute;
          top: 0;
          left: 8vw;
          font-size: 3rem;
        }

        svg {
          cursor: pointer;
          fill: rgb(210, 210, 210);
          transition: all 0.3s;

          @include respond(phone) {
            position: absolute;
            top: 0.5rem;
            left: 69vw;
          }

          &:hover {
            fill: secondaryColor;
          }
        }

        .onWishlist {
          fill: secondaryColorDark;

          &:hover {
            fill: secondaryColorDark;
          }
        }
      }

      .details {
        font-size: 1.4rem;

        @include respond(phone) {
          margin-top: -3rem;
          font-size: 2rem;
        }
      }

      .price {
        font-size: 2rem;
        font-weight: 600;
        color: secondaryColorDark;

        @include respond(phone) {
          font-size: 2.5rem;
          margin-bottom: 3rem;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;

        @include respond(phone) {
          justify-content: space-between;
        }

        button {
          width: 45%;
          max-width: 20rem;
          margin-right: 1rem;

          @include respond(phone) {
            justify-content: space-between;
            width: 47%;
            margin-bottom: 1rem;
            margin-right: 0;
          }
        }
      }
    }
  }

  .productDetails {
    width: 80%;
    max-width: 100rem;
    margin: auto;
    font-size: 1.4rem;

    @include respond(phone) {
      margin-top: -3rem;
      font-size: 2rem;
    }

    .title {
      font-size: 2.5rem;
      text-transform: uppercase;
      // make word in the middle of the line
      text-align: center;
      border-bottom: 2px solid primaryColorLight;
      line-height: 0.1rem;
      margin: 1rem 0 5rem;

      span {
        background-color: white;
        padding: 0 1rem;
      }
    }

    .details {
      width: 90%;
      margin: 5rem auto;

      .images {
        width: 100%;
        margin: auto;

        img {
          width: 100%;
          height: 70vw;
          object-fit: cover;

          @include respond(phone) {
            height: 50vh;
          }
        }
      }
    }
  }
}
