@import '../../config.scss';

.signIn {
  width: 40rem;
  margin: 3rem 5vw;
  color: primaryColorDark;

  @include respond(tab-land) {
    margin: 3rem auto;
  }

  .clickSignIn {
    margin-bottom: 3rem;

    svg {
      cursor: pointer;
      padding: 0 0.5rem;
      opacity: 0.8;
      transition: all 0.2s;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }

  .errorMessage {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: solid 2px secondaryColor;
    color: secondaryColorDark;
  }
}
