@import '../../config.scss';

.saleMessage {
  background-color: secondaryColorLight;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.4rem;

  @include respond(phone) {
    display: none;
  }

  .messageClear {
    float: right;
    margin-right: 1rem;
    cursor: pointer;

    svg {
      fill: primaryColor;
      width: 2rem;
      height: 2rem;
      transition: all 0.3s;

      &:hover {
        fill: secondaryColorDark;
      }
    }
  }
}
