@import '../../config.scss';

.cartDropdown {
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 4rem;
  width: 30rem;
  max-height: 65vh;
  padding: 2rem;
  background-color: rgb(241, 235, 235);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  // animation
  animation-name: appear;
  animation-duration: 0.5s;

  @include respond(phone) {
    display: none;
  }

  .cartItems {
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    // flex-direction: column-reverse;
    overflow-y: auto;
    margin: 1rem 0;
    border-bottom: solid 1px primaryColor;
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  button {
    float: right;
  }
}

// animation
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
