.userProfilePage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  .components {
    display: grid;
    grid-template-columns: [full-start] repeat(10, [col-start] minmax(min-content, 1fr) [col-end]) [full-end];
  }
}
