@import '../../config.scss';

.contactUsPage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  .containers {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .container {
      width: 40rem;
      margin: 3rem;

      h1 {
        color: primaryColorDark;
      }

      .infoCards {
        display: flex;
        flex-wrap: wrap;

        .infoCard {
          display: flex;
          align-items: center;
          margin: 1rem;

          svg {
            width: 4rem;
            height: 4rem;
            margin: 2rem;
          }

          h2,
          span {
            margin: 0;
            padding: 0;

            a {
              text-decoration: none;
              color: primaryColor;
              transition: all 0.3s;

              &:hover {
                color: secondaryColor;
              }
            }
          }
        }
      }

      .socialMedia {
        cursor: pointer;
        transition: all 0.3s;
        width: 16rem;

        &:hover {
          color: secondaryColor;
        }
      }
    }
  }
}
