.productPreview {
  width: 80%;
  max-width: 135rem;
  margin: auto;

  .previewTitle {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  .previewContainer {
    width: 100%;
    margin: auto;
    display: flex;
  }
}
