@value colors: '../../app.module.scss';
@value primaryColor, primaryColorLight, secondaryColor, secondaryColorDark from colors;

.productPreview {
  width: 80%;
  max-width: 135rem;
  margin: 9rem auto;
  border-bottom: 2px solid primaryColorLight;

  .previewTitle {
    font-size: 2.5rem;
    color: primaryColor;
    text-transform: uppercase;
    // make word in the middle of the line
    text-align: center;
    border-bottom: 2px solid primaryColorLight;
    line-height: 0.1rem;
    margin: 1rem 0 2rem;

    span {
      background-color: white;
      padding: 0 1rem;
    }
  }

  .previewContainer {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    // push the container to middle
    margin-left: 2.5rem;
  }
}
