@import '../../config.scss';

.productPreview {
  width: 80%;
  max-width: 135rem;
  margin: 9rem auto;
  border-bottom: 2px solid primaryColorLight;

  @include respond(tab-port) {
    width: 90%;
    margin: 1rem auto;
  }

  .previewTitle {
    margin: 2rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;

    // make word in the middle of the line
    border-bottom: 2px solid primaryColorLight;
    line-height: 0.1rem;

    span {
      background-color: white;
      padding: 0 1rem;
    }
  }

  .previewContainer {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
