@import '../../config.scss';

.checkoutForm {
  min-width: 35rem;
  width: 100%;
  font-size: 1.5rem;
  color: primaryColorDark;
  position: relative;

  @include respond(phone) {
    width: 90%;
  }

  .amend {
    cursor: pointer;
    color: secondaryColor;
    position: absolute;
    right: 4.5rem;
    top: 9.5rem;

    @include respond(phone) {
      right: 1rem;
      top: 8.5rem;
    }
  }

  .upperPart {
    margin: 0 10vw 3rem 0;

    @include respond(phone) {
      margin: 3rem auto;
    }

    label {
      margin-right: 2rem;
    }
  }
}
