@value colors: '../../app.module.scss';
@value primaryColor, primaryColorDark, secondaryColor, secondaryColorDark from colors;

.checkoutForm {
  min-width: 35rem;
  width: 100%;
  margin: 0 10vw 3rem 0;
  font-size: 1.5rem;
  color: primaryColorDark;

  label {
    margin-right: 2rem;
  }
}
