@value colors: '../../app.module.scss';
@value primaryColorDark from colors;

.spinnerOverlay {
  grid-column: full-start / full-end;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinnerContainer {
    display: flex;
    flex-direction: column;

    pre {
      text-align: center;
      font-size: 1.4rem;
      color: primaryColorDark;
    }
  }
}
