@import '../../config.scss';

.breadcrumb {
  max-width: 80%;
  margin: auto;

  @include respond(phone) {
    max-width: 100%;
  }

  .breadcrumbList {
    font-size: 1.4rem;
    list-style: none;
    display: flex;
    align-items: center;

    @include respond(phone) {
      font-size: 1.6rem;
    }

    li {
      &:first-child {
        border-left: none;
        padding: 0 2rem 0 0;
      }
      a:link,
      a:visited,
      a:active {
        text-decoration: none;
        color: primaryColor;
      }
    }

    .breadcrumbItem {
      border-left: solid 1px primaryColorLight;
      padding: 0 2rem;
      color: secondaryColorDark;
      text-transform: capitalize;
    }
  }
}
