@import '../../config.scss';

.breadcrumb {
  width: 70%;
  margin: auto;

  @include respond(tab-port) {
    width: 80%;
  }

  @include respond(phone) {
    width: 90%;
  }

  .breadcrumbList {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;

    .breadcrumbItem {
      border-left: solid 1px primaryColorLight;
      padding: 0 2rem;
      color: secondaryColorDark;

      &:first-child {
        border-left: none;
        padding: 0 2rem 0 0;
      }
    }
  }
}
