@import '../../config.scss';

.signInSignUpPage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  .signInSignUpGroup {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(tab-port) {
      width: 90%;
    }
  }
}
