@import '../../config.scss';

.signInSignUpPage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  .signInSignUpGroup {
    width: 80%;
    max-width: 120rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
