@import '../../config.scss';

.userProfileSideBar {
  grid-column: col-start 2 / col-end 3;
  grid-row: 1 / -1;
  margin: 5rem auto;

  @include respond(phone) {
    margin: 2rem auto 0;
  }

  .signedIn,
  .notSignedIn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .userInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 600;
      color: primaryColorDark;
      text-align: center;
    }

    .list {
      margin: 2rem;
      list-style-type: none;
      text-align: center;
      font-size: 1.6rem;
      color: primaryColorDark;
      cursor: pointer;

      @include respond(phone) {
        display: flex;
      }

      li {
        margin: 1rem 0;
        border-bottom: solid 1px primaryColorLight;
        transition: all 0.3s;

        @include respond(phone) {
          margin: 0 1rem;
        }

        &:hover {
          color: secondaryColorDark;
        }
      }
    }

    p {
      font-size: 1.4rem;
      color: primaryColorDark;
      text-align: center;
    }

    button {
      width: 70%;
      align-self: center;
    }
  }
}
