@value colors: '../../app.module.scss';
@value primaryColor, primaryColorDark, primaryColorLight, secondaryColor, secondaryColorDark from colors;

.orderHistoryItem {
  color: primaryColorDark;
  fill: primaryColorDark;
  font-size: 1.4rem;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin: 1rem 0;
    border-top: solid 1px primaryColorLight;
    border-bottom: solid 1px primaryColorLight;
    transition: all 0.3s;

    &:hover {
      color: secondaryColorDark;
      fill: secondaryColorDark;
    }

    .button {
      display: flex;
      align-items: center;

      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .details {
    // border-bottom: solid 1px primaryColorLight;
    font-weight: 600;
    margin: 0 2rem;

    .items {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 1rem;
    }

    .total {
      margin: 1rem 0;
    }
  }
}
