@import '../../config.scss';

.myWishlistPage {
  grid-column: col-start 4 / col-end 9;
  grid-row: 1 / -1;
  margin: 5rem;
  color: primaryColorDark;

  @include respond(phone) {
    margin: 2rem 5rem;
  }

  .wishlistItems {
    display: flex;
    flex-direction: column;
    border-top: solid 1px primaryColorLight;
    border-bottom: solid 1px primaryColorLight;
  }
}
