@import '../../config.scss';

.directoryItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: solid 1px primaryColor;
  }

  span {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
}
