@import '../../config.scss';

.directoryItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }

  .image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: solid 1px primaryColor;

    @include respond(phone) {
      width: 13rem;
      height: 13rem;
    }
  }

  span {
    font-size: 1.5rem;
    font-weight: 600;
    color: primaryColor;
    text-align: center;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
}
