@import '../../config.scss';

.searchResultPage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  .searchResult {
    width: 70%;
    margin: 5rem auto 3rem;
    color: primaryColorDark;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone) {
      width: 90%;
      font-size: 1.2rem;
    }
  }

  .collectionItems {
    width: 70%;
    margin: 5rem auto 8rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 5rem;

    @include respond(tab-port) {
      width: 90%;
      grid-template-columns: repeat(auto-fit, 20rem);
      margin: 5rem auto;
    }

    @include respond(phone) {
      grid-template-columns: repeat(auto-fit, 22rem);
      grid-gap: 3rem;
    }
  }
}
