@import '../../config.scss';

.signUp {
  min-width: 35rem;
  max-width: 40%;
  margin: 3rem 5vw;
  font-size: 1.5rem;
  color: primaryColorDark;

  @include respond(tab-land) {
    margin: 3rem auto;
  }
}
