@value colors: '../../app.module.scss';
@value primaryColor, primaryColorLight, secondaryColor, secondaryColorDark from colors;

.productItem {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  grid-row-gap: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s;

  .image {
    width: 20rem;
    height: 25rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    object-fit: cover;
  }

  .productName {
    grid-column: 1 / 3;
    color: primaryColor;
  }

  .productPrice {
    color: secondaryColorDark;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    svg {
      cursor: pointer;
      width: 1.8rem;
      height: 1.8rem;
      margin: 0 0.5rem;
      fill: rgb(210, 210, 210);
      color: rgb(210, 210, 210);
      transition: all 0.3s;

      &:hover {
        fill: secondaryColor;
        color: secondaryColor;
      }
    }

    .onWishlist {
      fill: secondaryColorDark;

      &:hover {
        fill: secondaryColorDark;
      }
    }
  }
}

.productItem:hover {
  transform: scale(1.02);
  // box-shadow: 0.5rem 0.5rem 0.5rem primaryColorLight;
  cursor: pointer;
}
