@import '../../config.scss';

.header {
  grid-column: full-start / full-end;
  position: sticky;
  top: 0;
  z-index: 1001;
  background-color: white;

  .mainHeader {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // border-bottom: solid 1px primaryColorLight;
    position: relative;

    .leftOptions {
      width: 8rem;
      display: flex;
      // justify-content: space-around;

      svg {
        padding: 0.5rem;
      }

      @include respond(phone) {
        justify-content: flex-start;
      }

      .searchIcon {
        @include respond(phone) {
          display: none;
        }
      }
    }

    .companyLogo {
      margin-left: 10%;
      width: 18rem;
      height: auto;
      cursor: pointer;
    }

    .rightOptions {
      width: 12rem;
      display: flex;
      justify-content: space-around;

      @include respond(phone) {
        justify-content: flex-end;
      }

      .contactIcon,
      .userIcon {
        padding: 0.5rem;
        @include respond(phone) {
          display: none;
        }
      }

      .cartGroup {
        position: relative;
        padding: 0.5rem;
      }
    }

    svg {
      fill: secondaryColor;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      transition: all 0.3s;

      &:hover {
        fill: secondaryColorDark;
      }
    }
  }

  .categoryList {
    margin: auto;
    padding: 5px;
    border-bottom: solid 1px primaryColorLight;
    border-top: solid 1px primaryColorLight;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: primaryColor;
    font-size: 1.5rem;

    @include respond(phone) {
      display: none;
    }
    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    a {
      text-decoration: none;
      color: primaryColor;
    }

    span {
      cursor: pointer;
      padding: 0.5rem 3rem;
    }

    .directory {
      position: relative;
    }
  }
}
