@import '../../config.scss';

.cartPage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  h1 {
    margin: 5rem 20%;
    color: primaryColorDark;

    @include respond(phone) {
      margin: 3rem 10%;
    }
  }

  .withCartItems {
    .cartHeader {
      width: 80%;
      max-width: 100rem;
      margin: 5rem auto 0;
      display: grid;
      grid-template-columns: 2fr 1fr 0.5fr 1fr 0.5fr;
      text-align: center;
      border-bottom: solid 2px primaryColorLight;

      @include respond(phone) {
        margin: 2rem auto 0;
      }

      span {
        font-weight: 600;
        margin: 0.5rem;

        @include respond(phone) {
          display: none;
        }
      }
    }

    .cartItems {
      display: flex;
      flex-direction: column-reverse;
    }

    .totalGroup {
      width: 80%;
      max-width: 100rem;
      margin: 0 auto;
      border-top: solid 1px primaryColorLight;
      display: grid;
      grid-template-columns: 2fr 1fr 0.5fr 1fr 0.5fr;
      position: relative;

      @include respond(phone) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-top: solid 2px primaryColorLight;
      }

      span {
        font-weight: 600;
        margin: 1rem;
        text-align: center;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      .note {
        grid-column: 3 / 4;

        @include respond(phone) {
          grid-column: 2 / 3;
        }
      }

      .total {
        grid-column: 4 / 5;

        @include respond(phone) {
          grid-column: 3 / 4;
        }
      }

      .button {
        grid-column: 3 / 5;

        @include respond(phone) {
          grid-column: 1 / 5;
        }

        button {
          width: 100%;
        }
      }

      &:last-of-type {
        border-top: 0;
        margin: 0 auto 8rem;
        &::after {
          content: '';
          position: absolute;
          right: 0;
          width: 55%;
          border-top: solid 1px primaryColorLight;

          @include respond(phone) {
            width: 100%;
          }
        }
      }
    }
  }

  .withoutCartItems {
    width: 80%;
    max-width: 100rem;
    margin: 5rem auto;
    text-align: center;

    h2 {
      margin: 3rem;
    }
  }
}
