@value colors: '../../app.module.scss';
@value primaryColor, primaryColorLight, secondaryColor, secondaryColorDark from colors;

.carouselContainer {
  width: 80%;
  max-width: 135rem;
  margin: auto;
  position: relative;
  margin-bottom: 2rem;

  .carouselSlide {
    overflow-x: hidden;

    .image {
      min-width: 100%;
      height: 25vw;
      object-fit: cover;
      opacity: 0.8;
    }
  }

  .prevnext {
    .prev,
    .next {
      cursor: pointer;
      transform: translateY(-50%);

      svg {
        width: 3.5rem;
        height: 3.5rem;
        fill: primaryColor;
        transition: fill 0.6s ease;

        &:hover {
          fill: primaryColorLight;
        }
      }
    }

    .prev {
      position: absolute;
      top: 50%;
      left: -5%;
    }
    .next {
      position: absolute;
      top: 50%;
      right: -5%;
    }
  }

  .carouselDots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: -1.5rem;
    transform: translateX(-50%);

    .carouselDot {
      cursor: pointer;
      height: 1rem;
      width: 1rem;
      margin: 0 0.5rem;
      background-color: primaryColor;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .carouselDotCurrent {
      background-color: primaryColorLight;
    }
  }
}
