@import '../../config.scss';

@value sideNavWidth: 40rem;

.sideNav {
  position: fixed;
  top: 0;
  left: calc(-1 * sideNavWidth);
  z-index: 1002;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;

  @include respond(tab-port) {
    font-size: 1.8rem;
  }

  .content {
    width: sideNavWidth;
    height: 100vh;
    background-color: secondaryBackgroundLight;

    svg {
      width: 3rem;
      height: 3rem;
      fill: white;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        fill: secondaryColorDark;
      }
    }

    li {
      list-style-type: none;
      transition: all 0.3s;

      &:hover {
        color: secondaryColorDark;
      }
    }

    .upper,
    .middle,
    .lower {
      padding: 2.5rem 5rem;
    }

    .middle,
    .lower {
      li {
        padding: 1rem 0;
        border-bottom: solid 1px rgb(202, 202, 202);
      }
    }

    .upper {
      margin: 0;
      background-color: secondaryBackgroundDark;
      font-weight: 600;
      color: white;

      li {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          color: secondaryColorDark;
        }

        &:hover svg {
          fill: secondaryColorDark;
        }
      }
    }

    .middle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      svg {
        fill: primaryColor;
        width: 2rem;
        height: 2rem;
      }

      .title {
        display: flex;
        justify-content: space-between;
        transition: all 0.3s;

        &:hover a,
        &:hover svg {
          color: secondaryColorDark;
          fill: secondaryColorDark;
        }
      }

      .category {
        li {
          border-bottom: none;
          margin: 0;
        }
      }
    }
  }
}

.sideNavActive {
  left: 0;
  transition: all 0.5s;

  .background {
    width: calc(100vw + sideNavWidth);
    height: 100vh;
  }
}
