@import '../../config.scss';

.checkoutPage {
  grid-column: full-start / full-end;
  min-height: 65vh;

  .group {
    width: 90%;
    max-width: 120rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    @include respond(phone) {
      flex-wrap: wrap-reverse;
    }
  }
}
