@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');

// COLOR VARIABLES
@value primaryColor: rgb(128, 128, 128);
@value primaryColorLight: rgb(223, 223, 223);
@value secondaryColor: rgb(255, 174, 171);
@value secondaryColorDark: rgb(223, 83, 78);

// FONT VARIABLES

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Dosis', sans-serif;
}

.app {
  display: grid;
  grid-template-columns: [full-start] repeat(10, [col-start] minmax(min-content, 1fr) [col-end]) [full-end];
}
